Django==1.8
django-activity-stream==0.6.0
django-bootstrap-form==3.2.1
django-bootstrap3==8.0.0
django-contrib-comments==1.6.2
django-crispy-forms==1.6.0
django-facebook==6.0.3
django-flat-theme==1.1.4
django-fluent-comments==1.1
django-jsonfield==0.9.15
django-rest-swagger==0.3.7
django-tag-parser==2.1
djangorestframework==3.3.3
docutils==0.12
gunicorn==19.6.0
whitenoise
dj-database-url
